.itemListContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px !important;
}

.loadingStyle{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.processing{
    width: 100vw;
    height: 100vh;
    background-color:rgba(230, 230, 230, 0.9);
    z-index: 10;
    position: relative;
    justify-content: center;
    align-items: center;
}

.hideProcesing{
    display: none;
}

.showProcesing{
    display: flex;
}

.loadingIcon{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(-360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(-360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(-360deg); 
        transform:rotate(-360deg); 
    } 

}